<!DOCTYPE html>
<html lang="en">

{head}

<body class="bg-gradient-to-b from-slate-800 to-slate-950 antialiased px-4 w-full max-w-[48rem] mx-auto">
<header class="flex gap-10 mt-5 mb-20 items-center w-full">
    <a href="/" class="text-xl font-bold border-b-4">Project list</a>
    <a href="#" target="_blank" class="ms-auto">
        <i class="bi bi-twitter-x text-2xl"></i>
    </a>
</header>
<section class="mb-10 w-full min-h-[calc(100vh_-_theme(spacing.64))]">
    <h1 class="mb-5 text-3xl font-bold">
        {title}
    </h1>

    <img src="{imgSrc}" class="object-cover h-32 w-full mb-5 rounded-lg" alt="image article">

    <article class="flex flex-col gap-4">
    {content}
    </article>
</section>

{footer}

aaa
</body>

</html>